{% extends "main/layout.html" %}

{% block title %}Добавление дз{% endblock %}

{% block content %}

    <div class="features">
{#        <h1>Добавление</h1>#}
        <form method="post">
            {%  csrf_token %}
            <h1>{{ form.day }}</h1><br>
            {{ form.rus }}<br>
            {{ form.fiz }}<br>
            {{ form.teh }}<br>
            {{ form.bio }}<br>
            {{ form.geometria }}<br>
            {{ form.date }}<br>
            <span>{{ error }}</span>
            <div class="work">
                <button class="btn btn-success" type="submit">Добавить</button>
            </div>

        </form>


    </div>
{% endblock %}
