{% extends "main/layout.html" %}

{% block title %}О сайте{% endblock %}

{% block content %}
    <div class="class">
        <div class="features">
        <h1>Наш класс</h1>
        <p>Немного о нас: </p>
            <p>Наш класс очень дружный и весёлый!
Мы все друг друга понимаем, поддерживаем, помогаем и если надо, приходим на помощь каждому. Всегда участвуем в разных конкурсах, может мы и не всегда побеждаем, но мы очень радуемся нашим заслугам! Все ученики класса такие разные и особенные, но в тоже время нас объединяет много общего. На переменах мы общаемся, обсуждаем новости и играем в разные игры. Всегда готовы помочь друг другу советом и совсем не важно, мальчик это или девочка. Вне школы мы также все общаемся, ходим друг к другу на Дни рождения и просто в гости. Гуляем в городе, посещаем кинотеатры и различные выставки. На каникулах мы скучаем по одноклассникам и всегда радуемся встречи, когда приходим на занятия в гимназию. Вот такой в нас замечательный класс во главе с нашей второй мамой Ириной Геннадьевной! С ней мы всегда «Впереди планеты всей»!</p>
        </div>
    </div>

{% endblock %}

