{% extends "main/layout.html" %}

{% block title %}О сайте{% endblock %}

{% block content %}
    <div class="class">
        <div class="features">
        <h1>Наш класс</h1>
        <p>Немного о нас: </p>
            <p>В Нашем классе все Друг друга понимают и помогают в беде. Наш класс всегда участвует в разный конкурсах, может мы и не всегда побеждаем, но мы всегда рады нашим заслугам. Все учащиеся нашего класса такие разные и особенные, но в тоже время нас объединяет много общего. Наш класс очень дружный и весёлый. На переменах мы общаемся, обсуждаем новости и играем в разные игры.</p>
        </div>
    </div>

{% endblock %}

