{% extends "main/layout.html" %}

{% block title %}Контакты{% endblock %}

{% block content %}

    <div class="features">
        <h1>Соцсети</h1>
        <div class="network">
            <a href="https://vk.com/maxpaleev"><button class="btn btn-danger"><i class=''></i> ВК</button></a><br>
            <br><a href="https://qiwi.com/n/MAXPALEEV"><button class="btn btn-warning"><i class="fas fa-cat"></i> На покушать</button></a>
        </div>

        <div class="abc">
            {%  include "main/connect.html" %}
        </div>




    </div>
{% endblock %}

