{% extends "main/layout.html" %}



{% block title %}Главная страница{% endblock %}

{% block content %}

    <div class="features">
        <h1>{{ title }}</h1>
        <p>Добро пожаловать на сайт 7А здесь вы сможете посмотреть актуальные новости и домашнее задание.</p>
        <a href="{% url "news_home"%}" class="btn btn-warning">На страницу новостей</a>
        <a href="{% url "work_home"%}" class="btn btn-danger">На страницу с ДЗ</a>



{#  добавление элемента из списка #}
{#        {% for el in values %}#}
{#            <P>{{ el }}</P>#}
{#        {% endfor %}#}
{#        {% for el in obj %}#}
{#            <P>{{ el }}</P>#}
{#        {% endfor %}#}




    </div>
{% endblock %}

