{% extends "main/layout.html" %}



{% block title %}Главная страница{% endblock %}

{% block content %}

    <div class="features">
        <h1>{{ title }}</h1><br>
        <h2>Добро пожаловать на сайт 7А, надеюсь вам понравится </h2><br>
{#        <button class="btn btn-warning">На страницу про нас</button>#}
        <br>
{#        <br><iframe frameborder="0" style="border:none;width:50%;height:400px;" width="50%" height="400" src="https://music.yandex.ru/iframe/#playlist/maxpaleev06/3">Слушайте <a href='https://music.yandex.ru/users/maxpaleev06/playlists/3'>Мне нравится</a> — <a href='https://music.yandex.ru/users/maxpaleev06'>Максим Палеев</a> на Яндекс Музыке</iframe>#}


{#  добавление элемента из списка #}
{#        {% for el in values %}#}
{#            <P>{{ el }}</P>#}
{#        {% endfor %}#}
{#        {% for el in obj %}#}
{#            <P>{{ el }}</P>#}
{#        {% endfor %}#}




    </div>
{% endblock %}

